:root {
  --full-size-percent: 100%;
  --black-color: #000;
  --white-color: #fff;
  --common-text-size: 1.5em;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--black-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  max-width: 100vw;
  min-height: 300vh;
  min-width: var(--full-size-percent);
  overflow-x: hidden;
  background: var(--white-color);
}
.wrapper {
  min-width: inherit;
  min-height: inherit;
}

/* Header */
.header-container,
.header-bottom,
.header-top,
.header-nav__list,
.header-logSign__btns,
.header-sex,
.header-age,
.header-name {
  display: flex;
}
.header,
.header-container,
.header-top,
.header-nav__list,
.header-search__input,
.header-logSign__btns,
.header-search {
  width: var(--full-size-percent);
}
.header-nav__list_link,
.header-logSign__log,
.header-logSign__sign,
.header-sex__icons {
  overflow: hidden;
  white-space: nowrap;
}
.header {
  position: fixed;
  z-index: 1;
  color: var(--white-color);
  /* box-shadow: 0 2px 20px -6px var(--black-color); */
  background-color: var(--white-color);
}
.header-container {
  margin: var(--common-text-size);
  flex-direction: column;
}
.header-bottom,
.header-top {
  align-items: center;
}
.header-nav {
  width: 400px;
}
.header-nav__list {
  align-items: flex-end;
  list-style: none;
}
.header-nav__list > li {
  margin-right: 1em;
}
.header-nav__list_link {
  font-size: var(--common-text-size);
  color: var(--black-color);
}
.header-search__input {
  height: 2em;
  padding-left: var(--common-text-size);
  margin-left: 1em;
  border-radius: calc(var(--common-text-size) * 2);
  border: none;
  outline: none;
  font-weight: 900;
  color: var(--black-color);
  box-shadow: 0 4px 2px -2px rgb(124, 119, 119),
    0 -1.5px 2px -2px var(--black-color);
}
.header-search__input:focus {
  box-shadow: 0 4px 2px -2px var(--black-color),
    0 -4px 2px -2px var(--black-color);
}
.header-logSign {
  width: 400px;
  margin: 0 calc(var(--common-text-size) * 2);
}
.header-logSign__btns {
  justify-content: center;
}
.header-logSign__log,
.header-logSign__sign {
  width: 130px;
  border-radius: 2em;
  padding: 0.6em 2.7em;
  user-select: none;
  cursor: pointer;
  font-weight: 700;
  transition: 0.25s all ease-in-out;
}
.header-logSign__log {
  margin-right: 5%;
  color: var(--white-color);
  background: var(--black-color);
}
.header-logSign__sign {
  color: var(--black-color);
  background: var(--white-color);
}
.header-bottom {
  width: calc(var(--full-size-percent) / 3);
  justify-content: space-between;
  box-shadow: 0 2.1px 2px -2px var(--black-color);
}
hr {
  height: 2.5em;
  margin: 10px;
}
img {
  width: var(--common-text-size);
}
.header-sex,
.header-age,
.header-name {
  height: calc(var(--common-text-size) * 2);
  align-items: flex-end;
  transition: 0.5s all ease;
}
.header-sex__icons > span {
  margin-left: 0.5em;
}
.header-bottom__span {
  font-size: var(--common-text-size);
  opacity: 0.5;
}
.header-age__age-down > img,
.header-name__name-down > img {
  transform: rotate(180deg);
}
.header-sex__icons img {
  cursor: pointer;
}
.header-sex:hover,
.header-age:hover,
.header-name:hover {
  box-shadow: 0 4px 2px -2px var(--black-color);
}
.header-sex__icons img:hover {
  border-radius: 50%;
  border: 1px solid black;
  background: rgb(0, 255, 242);
}
main {
  width: var(--full-size-percent);
  border-top: 1px solid var(--white-color);
}
.main-container {
  width: inherit;
  margin-top: 150px;
  padding-right: 2.5em;
  padding-left: 2.5em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: var(--common-text-size);
}
.main-friend {
  display: flex;
  flex-direction: column;
  border-radius: 0.5em;
  box-shadow: 0 0 10px -1px var(--black-color);
  background: linear-gradient(to bottom, #82addb 0%, #ebb2b1 100%);
}
.friend-picture-sex {
  width: var(--full-size-percent);
  padding-top: var(--common-text-size);
  display: flex;
  position: relative;
  justify-content: center;
}
.friend-picture {
  width: calc(var(--full-size-percent) / 2);
  border-radius: 50%;
  border: 5px solid #fff;
}
.friend-sex-container {
  width: 10%;
  position: absolute;
  bottom: 0;
  left: 70%;
}
.friend-sex {
  width: var(--full-size-percent);
  border-radius: 50%;
  box-shadow: 0 4px 2px -2px var(--black-color);
  background: linear-gradient(
    to bottom,
    #d5f2ff,
    #c8e2f2,
    #bdd2e5,
    #b3c2d7,
    #a9b2c9,
    #a6acc4,
    #a3a6be,
    #a0a0b9,
    #a2a2bc,
    #a5a5bf,
    #a7a7c3,
    #aaaac6
  );
}
.friend-description {
  width: var(--full-size-percent);
  padding-top: 0.5em;
  padding-bottom: var(--common-text-size);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.friend-name-age {
  padding-bottom: 0.5em;
  font-size: var(--common-text-size);
  font-weight: 900;
}
.friend-icons {
  width: var(--full-size-percent);
  display: flex;
  justify-content: center;
  gap: 3em;
}
.friend-mail,
.friend-maps,
.friend-nat {
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  overflow: hidden;
  border-radius: 50%;
  background: rgb(255, 255, 255);
}
.friend-nat img {
  width: var(--full-size-percent);
  height: var(--full-size-percent);
}
