* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  max-width: 100vw;
  min-height: 300vh;
  min-width: 100%;
  overflow-x: hidden; /*delete maybe*/
  background: #fff;
}
.wrapper {
  min-width: inherit;
  min-height: inherit;
}

/* Header */

.header {
  width: 100%;
  padding-bottom: 1em;
  position: fixed;
  box-shadow: 0 4px 2px -2px rgb(158, 157, 157);
  background-color: #fff;
  color: white;
}
.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header__primary {
  display: flex;
  justify-content: space-between;
}
.header__primary-core-nav,
.header__primary-log-nav {
  list-style: none;
  display: flex;
}
.header__primary-core-nav {
}
.header__primary-core-nav > li {
  margin: 0.5em 0 1em 2em;
  display: flex;
  align-items: center;
  transition: 0.5s all ease-in-out;
}

/* change tags name later*/

.header__primary-core-nav > li > h1,
.header__primary-core-nav > li > a {
  line-height: 3;
  font-size: 1.4rem;
  color: rgb(95, 95, 95);
  transition: 0.5s all ease-in-out;
}
.header__primary-core-nav > li > h1 > a {
  font-size: 1.8rem;
  color: #000;
}
.header__primary-log-nav {
}
.header__primary-log-nav > li {
  margin: 0.5em 2em 0 0;
  display: flex;
  align-items: center;
  font-size: 1.5em;
}
.header__log-in,
.header__sign-up {
  border-radius: 2em;
  padding: 0.6em 2.7em;
  user-select: none;
  cursor: pointer;
  font-weight: 700;
  transition: 0.25s all ease-in-out;
}
.header__log-in {
  /* border: 1px solid #fff; */
  color: #fff;
  box-shadow: 0 0 0 1px rgb(51, 255, 0);
  background: #000;
}
.header__sign-up {
  color: #000;
  margin-left: -2em;
  box-shadow: 0 0 0 1px rgb(255, 251, 0);
  background: #fff;
}
.header__primary-log-nav_kottans {
  color: #000;
}
.header__search {
  margin-left: 2em;
}
.header__container-search {
  display: flex;
}
.container-search__input-line {
}
/* .container-search__input-line_icon {
  position: absolute;
} */
.container-search__input-line > input {
  width: 70vw;
  height: 50px;
  padding-left: 2em;
  border: none;
  box-shadow: 0 0 0 1px black;
  border-radius: 2em 0 0 2em;
  font-size: 2em;
}
.container-search__btns {
  width: 25vw;
  height: 50px;
  border-radius: 0.4em 2em 2em 0.4em;
  box-shadow: 0 0 0 1px black;
  background-color: #fff;
}
.container-search__btns_ul {
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  color: rgb(95, 95, 95);
}
.container-search__btns_ul > li {
  margin-left: 1em;
  font-size: 1.3em;
}

/* popup here */

/* main */
main {
  width: 100%;
  border-top: 1px solid #fff;
}
.main-container {
  width: inherit;
  margin-top: 200px;
  padding-left: 15px;
  display: flex;
  gap: 15px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.main__friend {
  width: 19%;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: -1;
  /* box-shadow: 0 0 6px 1px #000;
   */
  box-shadow: 0 0 6px 1px rgb(0, 35, 189);
}
.friend__flag-and-face {
  margin: 0.5em;
  position: relative;
}
.friend__flag {
}
.friend__flag > img {
  width: 100%;
  border-radius: 5px;
  aspect-ratio: 16/9;
}
.friend__face {
  position: relative;
  right: -25%;
  top: -75%;
}
.friend__face > img {
  width: 50%;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 0 0 5px rgb(0, 35, 189);
}
.friend__description {
  margin: 1.6em 0 0.4em 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.friend__description_location {
}
.friend__description_location > img,
.friend__description_mail > img {
  width: 24px;
  height: 24px;
}
.friend__description_mail > span,
.friend__description_location > span {
  color: rgb(126, 124, 124);
  font-weight: 100;
}
.friend__description_mail,
.friend__description_location {
  display: flex;
  align-items: flex-end;
}

/* Hover etc */

.header__primary-core-nav > li:hover,
.header__primary-core-nav > li > a:hover {
  text-decoration: underline;
  color: #000;
}
.header__primary-core-nav > li:first-child:hover {
  text-decoration: none;
}
.header__log-in:hover,
.header__sign-up:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
.header__log-in:active,
.header__sign-up:active {
  transform: scale(1.05);
}
.header__log-in:hover {
  background: rgb(55, 0, 158);
  box-shadow: 0 0 5px 1px rgb(55, 0, 158);
}
.header__sign-up:hover {
  background: rgb(255, 217, 0);
  box-shadow: 0 0 10px 2px rgb(255, 217, 0);
}
.container-search__btns_ul > li:hover {
  color: #000;
  cursor: pointer;
}
/* For JS */
.sex-text {
  font-size: 1.5em;
}
.friend-name {
  color: #000;
  font-weight: 700;
}
.sex-male-shadow {
  box-shadow: 0 0 0 5px rgb(0, 35, 189);
}
.sex-male-color {
  color: rgb(0, 35, 189);
}
.sex-female {
  box-shadow: 0 0 0 5px rgb(253, 0, 63);
}
.sex-female-color {
  color: rgb(253, 0, 63);
}
.hide {
  display: none;
}
.show {
  display: block;
}
/* For JS */
hr {
  width: 100%;
}
.container-search__btns_ul-male:checked,
.container-search__btns_ul-male:focus,
.container-search__btns_ul-male:hover {
  color: blue !important;
}
